body, html {
    height: 100%;
    text-align: center;
  }
  .bg-img {
    /* The image used */
    background-image: url("../image/sunset\ photo.jpeg");
  
    /* Control the height of the image */
    min-height: 150%;
  
    /* Center and scale the image */
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    position: relative;
  }
 .container {
    position: absolute;
    margin: 10px;
    max-width: 300px;
    padding: 16px;
  }
   label {
    display: inline-block;
    width: 150px;
    text-align: left;
  }
  input{
      padding: 3px 250px;
      text-align: center;
  }
  ::-webkit-input-placeholder { 
    white-space:pre-wrap;  
    position:relative;
    top:-11px;
    }
    nput[type="radio"] {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  em{
    color: grey
  }
  